@import '@helsenorge/designsystem-react/scss/spacers';
@import '@helsenorge/designsystem-react/scss/breakpoints';
@import '@helsenorge/designsystem-react/scss/palette';

.mol_timeinput {
  &__legend {
    display: block;
    padding: 0.625rem $spacer 0.625rem 0;
    font-size: 1.125rem;
    line-height: 1.75rem;

    &__label {
      font-weight: 600;
    }

    &__sublabel {
      font-weight: 500;
      color: $neutral700;
      font-style: italic;
    }
  }

  &__inputs {
    display: flex;
    flex-wrap: wrap;
  }

  &__separator {
    align-self: center;
    font-weight: 500;
    padding: 0 0.5rem;
  }

  &__resetbutton {
    display: flex;
    align-items: center;
    height: 3rem;
  }

  .safeInputField:nth-child(3) {
    margin-right: 1rem;
  }

  .mol_timeinput__inputs {
    .mol_validation {
      background: none;

      &::before {
        border-left: none;
      }

      &::after {
        background: none;
      }

      &--active {
        background-size: 0;
        padding: 0;
      }
    }
  }

  .mol_validation {
    margin: 0;
  }

  &.mol_validation {
    margin: 0;

    &--active {
      input[type='number'] {
        border: 2px solid $cherry600;
      }
    }
  }
}
