@import '@helsenorge/designsystem-react/scss/_spacers.scss';
@import '@helsenorge/designsystem-react/scss/_breakpoints.scss';

.datetimepicker {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;

  &__date {
    margin-right: 2rem;
    margin-bottom: 1rem;
  }

  &__time {
    margin-bottom: 1rem;
    &__timeinput {
      padding-left: 0;
    }
  }

  @media (min-width: map-get($grid-breakpoints, sm)) {
    &__date {
      margin-bottom: 0;
    }

    &__time {
      margin-bottom: 0;
    }
  }
}
