@import '@helsenorge/designsystem-react/scss/_spacers.scss';
@import '@helsenorge/designsystem-react/scss/_breakpoints.scss';
@import '@helsenorge/designsystem-react/scss/_palette.scss';

.label {
  display: block;
  color: $black;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.75rem;
  padding: 0.625rem $spacer 0.625rem 0;
  &--isnotbold {
    font-weight: 400;
  }

  &__sublabel {
    display: block;
    font-weight: 400;
    font-size: 1.125rem;
  }

  em {
    font-weight: 500;
    color: $neutral700;
    font-style: italic;
  }
}
