@import '@helsenorge/designsystem-react/scss/spacers';
@import '@helsenorge/designsystem-react/scss/breakpoints';
@import '@helsenorge/designsystem-react/scss/palette';

.datepicker {
  :global {
    ::placeholder {
      color: $neutral600;
      opacity: 1;
    }

    .SingleDatePicker_picker {
      z-index: 10;
    }

    .SingleDatePickerInput,
    .DateRangePickerInput {
      border: 2px solid $neutral300;
      border-radius: 0;

      &:hover {
        background-color: $neutral50;
        border-color: $neutral400;
        box-shadow: 0 0 0 2px $neutral400;

        .DateInput_input {
          background-color: $neutral50;
        }
      }

      &:focus,
      &:focus-within {
        border-color: $black;
        box-shadow: 0 0 0 2px $black;
      }
    }

    .SingleDatePickerInput__disabled,
    .DateRangePickerInput__disabled {
      &:hover {
        box-shadow: none;
        border-color: $neutral300;
      }
    }

    .DateInput_input {
      font-size: 1.125rem;
      font-weight: 400;
      line-height: 100%;
      color: $black;
      border-bottom: 0;
      padding: 0.75rem;
    }

    .DateInput_input__focused {
      border-bottom: 0;
    }

    .DateInput_input__disabled {
      color: $neutral700;
    }

    .SingleDatePickerInput_calendarIcon,
    .DateRangePickerInput_calendarIcon {
      padding: 2px 0 0;

      &:focus {
        outline: none;
        box-shadow: 0 0 0 3px $black;
      }

      &:disabled {
        cursor: default;

        :global {
          .hnds-style-icon {
            fill: $neutral700;
          }
        }
      }
    }

    // This for single datepicker in full width
    .SingleDatePickerInput .DateInput__block {
      width: calc(100% - 60px);
    }

    // This for range datepicker in full width
    .DateRangePickerInput__block .DateRangePickerInput_calendarIcon {
      float: right;
      margin-top: 4px;
    }

    .CalendarDay {
      box-shadow: inset 0 0 0 4px $white;
    }

    .CalendarDay__default {
      font-weight: 600;
      color: $blueberry600;
      border: 0;

      &:hover {
        color: $blueberry600;
        background-color: $neutral100;
        border: 0;
      }

      &:focus,
      &:active {
        color: $blueberry600;
        background-color: $neutral100;
        text-decoration: underline;
        outline: none;
      }
    }

    .CalendarDay__today {
      color: $blueberry600;
      background-color: $blueberry100;

      &:hover {
        background-color: $blueberry200;
      }

      &:focus,
      &:active {
        background-color: $blueberry200;
        text-decoration: underline;
        outline: none;
      }
    }

    .CalendarDay__selected {
      color: $white;
      background-color: $blueberry500;

      &:hover {
        color: $white;
        background-color: $blueberry700;
        border-color: transparent;
      }

      &:focus,
      &:active {
        color: $white;
        background-color: $blueberry700;
        text-decoration: underline;
        outline: none;
      }
    }

    .CalendarDay__selected_span {
      background-color: $blueberry300;
      color: $white;
    }

    .CalendarDay__hovered_span {
      background-color: $blueberry300;
      color: $white;
    }

    .CalendarDay__blocked_out_of_range {
      color: $neutral400;
      border-color: transparent;

      &:hover,
      &:focus,
      &:active {
        color: $neutral400;
        border-color: transparent;
      }
    }

    .DayPicker__withBorder {
      border-radius: 0;
      box-shadow: 0 2px 6px rgb(0 0 0 / 5%), 0 0 0 1px $blueberry600;
      padding-bottom: getSpacer(2xs);
    }

    .DateInput_fang {
      z-index: 11;
    }

    .DateInput_fangStroke {
      stroke: $blueberry600;
    }

    .DateInput__disabled {
      background-color: $neutral50;
    }

    .DayPicker_weekHeader_li {
      text-transform: capitalize;
      color: $neutral700;
    }

    .DayPickerKeyboardShortcuts_show {
      width: 36px;
      height: 36px;
      bottom: getSpacer(3xs);
      right: getSpacer(3xs);
      position: absolute;
    }

    .DayPickerKeyboardShortcuts_showSpan__bottomRight {
      right: 0;
    }

    .DayPickerKeyboardShortcuts_show__bottomRight {
      &::before {
        border-top: 0;
        border-right: 0;
      }
    }

    .DayPickerKeyboardShortcuts_showSpan {
      color: transparent;
      width: 100%;
      height: 100%;
      display: block;
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='36' height='36' viewBox='0 0 48 48' fill-rule='evenodd'><path d='M24 8.142c8.744 0 15.858 7.114 15.858 15.858 0 8.745-7.114 15.859-15.858 15.859-8.745 0-15.859-7.114-15.859-15.86 0-8.743 7.114-15.857 15.86-15.857zm0 1.4C16.027 9.542 9.542 16.027 9.542 24S16.027 38.459 24 38.459c7.972 0 14.458-6.486 14.458-14.46 0-7.972-6.486-14.457-14.458-14.457zm-.314 18.643c.908 0 1.656.771 1.656 1.68 0 .906-.748 1.656-1.656 1.656-.93 0-1.656-.75-1.656-1.657 0-.908.726-1.679 1.656-1.679zm.294-13.248c3.358 0 5.172 2.223 5.172 4.537 0 1.792-.952 3.063-2.268 3.992l-.976.682c-.749.521-1.134 1.27-1.134 2.154 0 .046 0 .16.023.295h-2.269c-.022-.295-.046-.544-.046-.862 0-1.36.522-2.472 1.84-3.425l1.042-.75c.75-.543 1.066-1.2 1.066-1.973 0-1.179-.793-2.29-2.45-2.29-1.679 0-2.563 1.292-2.563 2.585 0 .34.045.772.136 1.022l-2.564-.182a3.903 3.903 0 01-.135-1.044c0-2.268 1.701-4.74 5.126-4.74z' /></svg>");

      &:hover {
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='36' height='36' viewBox='0 0 48 48' fill-rule='evenodd'> <path d='M24 8.142c8.744 0 15.858 7.114 15.858 15.858 0 8.745-7.114 15.859-15.858 15.859-8.745 0-15.859-7.114-15.859-15.86 0-8.743 7.114-15.857 15.86-15.857zm0 1.4C16.027 9.542 9.542 16.027 9.542 24S16.027 38.459 24 38.459c7.972 0 14.458-6.486 14.458-14.46 0-7.972-6.486-14.457-14.458-14.457zm-.315 18.643c.908 0 1.657.771 1.657 1.68 0 .906-.749 1.656-1.657 1.656-.93 0-1.655-.75-1.655-1.657 0-.908.725-1.679 1.655-1.679zm.295-14.748c3.358 0 5.172 2.223 5.172 4.537 0 1.792-.952 3.063-2.268 3.992l-.976.682c-.749.521-1.134 1.27-1.134 2.154 0 .046 0 .16.023.295h-2.269c-.022-.295-.046-.544-.046-.862 0-1.36.522-2.472 1.838-3.425l1.044-.75c.75-.543 1.066-1.2 1.066-1.973 0-1.179-.793-2.29-2.45-2.29-1.679 0-2.563 1.292-2.563 2.585 0 .34.045.772.135 1.022l-2.563-.182a3.903 3.903 0 01-.135-1.044c0-2.268 1.701-4.74 5.126-4.74z' /></svg>");
      }
    }

    .DayPickerKeyboardShortcuts_buttonReset {
      font-size: 0;
      padding: getSpacer(2xs);

      &:focus {
        outline: none;
        box-shadow: 0 0 0 2px $black;
      }
    }

    .DayPickerKeyboardShortcuts_close {
      right: getSpacer(2xs);
      top: getSpacer(2xs);

      .DayPickerKeyboardShortcuts_closeSvg {
        width: 20px;
        height: 20px;
        fill: $black;
      }

      &:hover,
      &:focus {
        .DayPickerKeyboardShortcuts_closeSvg {
          transform: scale(1.2);
        }
      }
    }

    .DayPickerKeyboardShortcuts_panel {
      padding: $spacer;
    }

    .KeyboardShortcutRow {
      display: block;
      margin-bottom: getSpacer(2xs);
      line-height: 120%;
    }

    .KeyboardShortcutRow_keyContainer {
      display: inline-block;
      white-space: nowrap;
      text-align: right;
    }

    .KeyboardShortcutRow_key {
      font-family: monospace;
      text-transform: uppercase;
      background: $neutral50;
      padding: 0.125rem getSpacer(2xs);
    }

    .KeyboardShortcutRow_action {
      display: inline;
      word-break: break-word;
      margin-left: getSpacer(2xs);
    }
  }

  &__legend {
    display: block;
    padding: 0.625rem $spacer 0.625rem 0;
    font-size: 1.125rem;
    line-height: 1.75rem;

    &__label {
      font-weight: 600;
      color: $black;

      &--hidden {
        display: none;
      }
    }

    &__sublabel {
      font-weight: 500;
      color: $neutral700;
      font-style: italic;
    }
  }

  &__input-icon {
    vertical-align: middle;
  }

  &__arrow-icon {
    vertical-align: middle;
  }

  &__native-input {
    padding: getSpacer(2xs);
    color: $black;
    background-color: $white;
    font-family: inherit;
    border: 2px solid $neutral300;

    &:hover,
    &:focus,
    &:focus-within {
      outline: none;
      border-color: $black;
      box-shadow: 0 0 0 2px $black;
    }

    &:disabled {
      background-color: $neutral50;
      color: $neutral700;
    }

    &--fullwidth {
      width: 100%;
    }
  }

  &__month-year-selector {
    display: flex;
    justify-content: center;
    font-weight: 600;
    color: $black;
  }

  &__month-selector {
    border-color: transparent;
    font-weight: 600;
  }

  &__year-selector {
    border-color: transparent;
    font-weight: 600;
    color: $blueberry600;
    border-bottom: 1px solid $neutral300;
    margin-left: getSpacer(2xs);
  }

  &__year-view {
    margin-left: getSpacer(2xs);
  }

  &__header-navigation {
    cursor: pointer;
    position: absolute;
    top: $spacer;
    line-height: 100%;
    padding: getSpacer(3xs) 0;

    &:focus {
      outline: none;

      svg {
        box-shadow: 0 0 0 2px $black;
      }
    }

    &--disabled {
      cursor: default;

      &:focus {
        svg {
          box-shadow: none;
        }
      }
    }
  }

  &--haserror {
    .datepicker__native-input {
      border-color: $cherry500;
    }

    :global {
      .SingleDatePickerInput,
      .DateRangePickerInput {
        border-color: $cherry500;
      }
    }
  }
}
