@use 'sass:map';
@use '@helsenorge/designsystem-react/scss/palette' as palette;
@use '@helsenorge/designsystem-react/scss/spacers' as spacers;
@use '@helsenorge/designsystem-react/scss/breakpoints' as breakpoints;
@use '@helsenorge/designsystem-react/scss/font-settings' as font-settings;

// CSS-klassenavn er hentet fra https://github.com/moroshko/react-autosuggest?tab=readme-ov-file#theme-optional
.container {
  position: relative;
}

.input {
  font-family: inherit;
  font-size: font-settings.$font-size-sm;
  line-height: 1.5rem;
  width: 100%;
  border: 2px solid palette.$neutral700;
  background: palette.$white;
  padding: spacers.getSpacer(xs) spacers.getSpacer(s);
  outline: none;

  @media (min-width: map.get(breakpoints.$grid-breakpoints, md)) {
    line-height: 1.625rem;
    font-size: font-settings.$font-size-md;
  }

  &:focus,
  &:focus-within {
    background: palette.$white;
    border-color: palette.$neutral900;
    box-shadow: 0 0 0 2px palette.$neutral900;
  }

  &:hover {
    background: palette.$neutral50;
    border-color: palette.$neutral700;
    box-shadow: 0 0 0 1px palette.$neutral700;

    &:focus-within {
      border-color: palette.$black;
      box-shadow: 0 0 0 2px palette.$black;
    }
  }
}

.suggestion {
  cursor: pointer;
  background: palette.$white;
  padding: spacers.getSpacer(s);
  line-height: 1.5rem;

  @media (min-width: map.get(breakpoints.$grid-breakpoints, md)) {
    line-height: 1.625rem;
  }

  &:not(:last-child) {
    border-bottom: 1px solid palette.$neutral50;
  }
}

.suggestionHighlighted {
  background: palette.$neutral200;
}

.suggestionsContainer {
  display: none;
  height: auto;
  overflow-x: auto;
  max-height: 15.625rem;
  border: 2px solid palette.$neutral800;
  box-shadow: 0 0 0 2px palette.$neutral800;
  margin-top: 0.5rem;
  position: absolute;
  width: 100%;
  z-index: 1001;
  left: 0;
  top: 3.25rem;

  @media (min-width: map.get(breakpoints.$grid-breakpoints, md)) {
    top: 3.5rem;
  }
}

.suggestionsList {
  padding: 0;
  margin: 0;
}

.containerOpen {
  .suggestionsContainer {
    display: block;
  }
}
