@import '@helsenorge/designsystem-react/scss/palette';
@import '@helsenorge/designsystem-react/scss/spacers';
@import '@helsenorge/designsystem-react/scss/breakpoints';

.container {
  margin: 0;
  padding: 0;
  height: auto;
  max-height: 18.75rem;
  position: relative;

  @media only screen and (min-width: map-get($grid-breakpoints, lg)) {
    max-width: 23rem;
  }

  /* Dette er for at validation ikke settes over box-shadow ved hover */
  &:hover {
    z-index: 1;
  }
}

.containerOpen {
  .suggestionsContainer {
    display: block;
  }
}

.input {
  width: 99%;
  display: block;
  font-weight: 400;
  padding: 0.75rem 1.125rem;
  outline: none;
  border: 2px solid $neutral300;
  background-color: $white;
  border-radius: 0;
  appearance: none;
  transition: left 0.5s, width 0.5s;
  left: 0;
  line-height: 100%;

  &:hover {
    background-color: $neutral50;
    border-color: $neutral400;
    box-shadow: 0 0 0 2px $neutral400;
  }

  &:focus,
  &:focus-within {
    border-color: $black;
    box-shadow: 0 0 0 2px $black;
  }
}

.suggestion {
  cursor: pointer;
  background: $white;
  padding: $spacer;
  line-height: getSpacer(m);
  border-left: none;

  &:not(:last-child) {
    border-bottom: 1px solid $neutral50;
  }
}

.suggestionHighlighted {
  background: $neutral200;
}

.suggestionsContainer {
  display: none;
  height: auto;
  overflow-x: auto;
  max-height: 15.625rem;
  border: 0.25rem solid $neutral800;
  box-shadow: 0 2px 0.25rem 1px rgb(0 0 0 / 25%);
  margin-top: 0.5rem;
  position: absolute;
  top: getSpacer(xl);
  width: 100%;
  left: 0;
  z-index: 1001;
}

.suggestionsList {
  padding: 0;
  margin: 0;
}
