@import '@helsenorge/designsystem-react/scss/_spacers.scss';
@import '@helsenorge/designsystem-react/scss/_breakpoints.scss';
@import '@helsenorge/designsystem-react/scss/_palette.scss';

.form {
  &__buttonwrapper {
    display: block;
    margin-top: getSpacer(m);

    &__button-span {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      @media (min-width: map-get($grid-breakpoints, lg)) {
        flex-wrap: wrap;
        flex-direction: row;
      }
    }

    &__button {
      display: inline-block;
      margin-right: $spacer;
      margin-bottom: getSpacer(2xs);
    }
  }
}
