@import '@helsenorge/designsystem-react/scss/spacers';
@import '@helsenorge/designsystem-react/scss/breakpoints';
@import '@helsenorge/designsystem-react/scss/palette';

.form {
  &__buttonwrapper {
    display: block;
    margin-top: getSpacer(m);

    &__button-span {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      @media (min-width: map-get($grid-breakpoints, lg)) {
        flex-flow: row wrap;
      }
    }

    &__button {
      display: inline-block;
      margin-right: $spacer;
      margin-bottom: getSpacer(2xs);
    }
  }
}
