name: Publish

on:
  push:
    tags:
      - '*'

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org'
      - name: Update npm
        run: npm install -g npm@11.6.2

      # eslint-config
      - run: npm i --ignore-scripts
        working-directory: npm/packages/eslint-config
      - if: startsWith(github.ref, 'refs/tags/v') && contains(github.ref, 'beta')
        continue-on-error: true
        run: npm publish --provenance --tag beta
        working-directory: npm/packages/eslint-config

      - if: startsWith(github.ref, 'refs/tags/v') && !contains(github.ref, 'beta')
        continue-on-error: true
        run: npm publish --provenance
        working-directory: npm/packages/eslint-config

      # library-build
      - run: npm i --ignore-scripts
        working-directory: npm/packages/library-build
      - run: npm run build
        working-directory: npm/packages/library-build
      - if: startsWith(github.ref, 'refs/tags/v') && contains(github.ref, 'beta')
        continue-on-error: true
        run: npm publish --provenance --tag beta
        working-directory: npm/packages/library-build/lib

      - if: startsWith(github.ref, 'refs/tags/v') && !contains(github.ref, 'beta')
        continue-on-error: true
        run: npm publish --provenance
        working-directory: npm/packages/library-build/lib

      # utils
      - run: npm i --ignore-scripts
        working-directory: npm/packages/utils
      - run: npm run build
        working-directory: npm/packages/utils
      - if: startsWith(github.ref, 'refs/tags/v') && contains(github.ref, 'beta')
        continue-on-error: true
        run: npm publish --provenance --tag beta
        working-directory: npm/packages/utils/lib

      - if: startsWith(github.ref, 'refs/tags/v') && !contains(github.ref, 'beta')
        continue-on-error: true
        run: npm publish --provenance
        working-directory: npm/packages/utils/lib

      # autosuggest
      - run: npm i --ignore-scripts
        working-directory: npm/packages/autosuggest
      - run: npm run build
        working-directory: npm/packages/autosuggest
      - if: startsWith(github.ref, 'refs/tags/v') && contains(github.ref, 'beta')
        continue-on-error: true
        run: npm publish --provenance --tag beta
        working-directory: npm/packages/autosuggest/lib

      - if: startsWith(github.ref, 'refs/tags/v') && !contains(github.ref, 'beta')
        continue-on-error: true
        run: npm publish --provenance
        working-directory: npm/packages/autosuggest/lib

      # file-upload
      - run: npm i --ignore-scripts
        working-directory: npm/packages/file-upload
      - run: npm run build
        working-directory: npm/packages/file-upload
      - if: startsWith(github.ref, 'refs/tags/v') && contains(github.ref, 'beta')
        continue-on-error: true
        run: npm publish --provenance --tag beta
        working-directory: npm/packages/file-upload/lib

      - if: startsWith(github.ref, 'refs/tags/v') && !contains(github.ref, 'beta')
        continue-on-error: true
        run: npm publish --provenance
        working-directory: npm/packages/file-upload/lib
